.content
  .col-md-12
    .card
      .card-header
        h4.card-title
          | Edit <%= @underscored_model_str.humanize.downcase %>
      .card-body
        = render 'admin_form', url: <%= @admin_update_path %>, submitable: true
